.flight-panel .panel-body {
  font-size: $font-size-small; // Use smaller font
  padding: 0; // Remove panel-body padding, make the table touch the border
}

.flight-panel table {
  margin-bottom: 0; // Override default table margin, spacing is included in .panel padding
}

// Here, we give more space to left most and right most table elements
.flight-panel table tr td:first-child {
  padding-left: 10px;
}

.flight-panel table tr td:last-child {
  padding-right: 10px;
}
