.nav-wrapper .success {
  border-bottom: 2px solid $success-color;
}

.nav-wrapper .warning {
  border-bottom: 2px solid $warning-color;
}

.nav-wrapper .error {
  border-bottom: 2px solid $error-color;
}
