// CRNA App settings

// Header settings
$header-background: $blue;
$header-background-active: $blue-700;
$header-height: 80px;

// Global font size (everything else is rem, yay !)
$app-font-zoom: 130%;




// Some background mixins

@mixin success-background-color($type: light) {
  @if $type == light {
    background-color: $green-100;
  } @else {
    background-color: $green;
  }
}

@mixin warning-background-color($type: light) {
  @if $type == light {
    background-color: $orange-100;
  } @else {
    background-color: $orange;
  }
}


@mixin danger-background-color($type: light) {
  @if $type == light {
    background-color: $red-100;
  } @else {
    background-color: $red;
  }
}

// Same with text color
@mixin success-color($type: dark) {
  @if $type == dark {
    color: $green;
  } @else {
    color: $green-100;
  }
}

@mixin warning-color($type: dark) {
  @if $type == dark {
    color: $orange;
  } @else {
    color: $orange-100;
  }
}

@mixin danger-color($type: dark) {
  @if $type == dark {
    color: $red;
  } @else {
    color: $red-100;
  }
}

/* Text mixins */
@mixin text-muted($type: dark) {
  @if $type == dark {
    color: $black-2;
  } @else {
    color: $white-3;
  }
}
