
// Import custom variables
//$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "materialize";

// bower:scss
// endbower
// Import bootswatch
//@import "bootswatch";


// Import custom styling after bootstrap to override
@import "navbar";
@import "xman";
@import "arcid";

html {
  font-size: 140%; // Global font-size, use CSS3 rem after
}

html, body {
  height: 100%;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
