
// Import custom variables
//$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "materialize";

// bower:scss
// endbower
// Import bootswatch
//@import "bootswatch";


// Import custom styling after bootstrap to override
@import "navbar";
@import "xman";
@import "arcid";

html, body {
  height: 100%;
}

body {
  /* Navbar fixed top overlaps content otherwise */
  padding-top: 90px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
