///*------------------------------------*\
//    #MODULES-COMMON-LAYOUT
//\*------------------------------------*/

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: $app-font-zoom;
}

section.main {
  margin-top: $header-height;
  @include outer-container;
}
