///*------------------------------------*\
//    #MODULES-COMMON-HEADER
//\*------------------------------------*/

// Header base styles
.header {
	@include position(fixed, 0 0 null 0);
	z-index: 999;
  height: $header-height;
  padding: 0 $base-spacing-unit * 1.5;
  vertical-align: middle;
  display: inline-block;
  padding: 0;
  background-color: $header-background; 
  @include z-depth(1);
  @include clearfix;
}


// Main Nav
.main-nav {
  float: left;
	ul {
		@extend %bare-list;
		li {
			float: left;
      a {
        line-height: $header-height;
      }
		}
	}
}

.main-nav-buttons {
  float: right;
  @extend .tc-white-1;
  ul {
    @extend %bare-list;
    li {
      float: left;
      button i, div i {
        line-height: $header-height;
      }
    }
  }
}

// Main Nav Link
.main-nav__link {
  display: block;
  padding: 0 $base-spacing-unit * 1.5;
  border-radius: $base-round;
  @include font-size(24px);
  font-weight: 500;
  color: white;
  line-height: $header-height;
  text-decoration: none;
  @include transition(background-color 0.5s ease-in-out);
}

.main-nav__link.active {
  background-color: $header-background-active;
}
