/* ARCID Styling */

.arcid-main {
  position: absolute;
  height: 100%;
}

.arcid-leftbar {
  min-height: 100%;
}

.arcid-leftbar .arcid-results {
  .arcid-list-item.ng-enter, .arcid-list-item.ng-move, .arcid-list-item.ng-leave {
    @include transition(all $base-duration $base-timing-function-in-out);
    overflow-y: hidden;
  }
  
  .arcid-list-item.ng-enter, .arcid-list-item.ng-move, .arcid-list-item.ng-leave.ng-leave-active {
    max-height: 0;
  }

  .arcid-list-item.ng-enter.ng-enter-active, .arcid-list-item.ng-move.ng-move-active, .arcid-list-item.ng-leave {
    max-height: 400px; // Large value (higher than container height)
  }

  .arcid-search-callsign {
    .highlight {
      color: $fourme-accent-color;
    }
  }
}

arcid-flight-panel {
  height: 100%;
  md-content#inner-wrapper {
    min-height: 100%;
    height: 100%;
  }
  md-content#outer-wrapper {
    min-height: 100%;
    height: 100%;
  }
  .flight-panel-toolbar {
    .callsign {
      margin: 0;
    }
    .dep-dest {
      margin: 0;
    }
  }
  .arcid-profile {
  }
}
