/* Speeds and speed buttons */
.xman-row .speeds button.md-button {
  @include transition(background-color 0.5s $ease-out-cubic, color 0.5s $ease-out-cubic);
  margin: 0;
  min-width: 0;
  
  &:first-of-type {
    @include border-left-radius(rem(2px));
  }
  &:last-of-type {
    @include border-right-radius(rem(2px));
  }

  &.selected {
    // use md-primary
  }
  &.proposed {
    // use md-accent
  }
  &.undo {
    // Use md-warn here
  }
}

.xman-row.speed-applied {
  @include success-background-color;
}

.xman-row.speed-not-applied {
  @include danger-background-color;
}

.xman-row.correct-speed-applied {
  @include success-background-color;
}

.xman-row.no-speed-to-apply {
  @include success-background-color;
}

/* Delay */
.xman-row .delay {
  .high-delay {
    @include danger-color;
  }
  .medium-delay {
    @include warning-color;
  }
  .low-delay {
    @include success-color;
  }
}

/* Applied by */
.xman-row .applied {
  .md-list-item-text {
    padding-top: 0;
    padding-bottom: 0;
  }
  .applied-by-main {
  }
  .applied-by-meta {
  }
}
