/* Center vertical align xman table */

.xman-row, .xman-row-title {
  @include span-columns(12);

  .callsign {
    @include span-columns(3 of 12);
  }

  .delay {
    @include span-columns(1 of 12);
  }

  .speeds {
    @include span-columns(5 of 12);
  }

  .applied {
    @include span-columns(3 of 12);
  }

}

.xman-row.speed-applied {
  @include success-background-color;
}

.xman-row.speed-not-applied {
  @include danger-background-color;
}

.xman-row.correct-speed-applied {
  @include success-background-color;
}

.xman-row.no-speed-to-apply {
  @include success-background-color;
}

.xman-table > tbody > tr.success > td,
.xman-table > tbody > tr.danger > td 
{
  vertical-align: middle;
  // CSS Transitions
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.xman-table div.speed-buttons {
  white-space: nowrap; // Bootstrap workaround for floating buttons in table
  vertical-align: middle;
}

.xman-table div.speed-buttons > a {
  float: none; // Bootstrap workaround for floating buttons in table
  display: inline-block;
}

.xman-table p.applied-by-main,
.xman-table p.applied-by-meta
{
  margin-bottom: 0;
  line-height: 1em;
}

.xman-table div.speed-buttons > a.btn-success-add, 
.xman-table div.speed-buttons > a.btn-warning-add,
.xman-table div.speed-buttons > a.btn-success-remove, 
.xman-table div.speed-buttons > a.btn-warning-remove
{
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

