<div class="speed-buttons btn-group" role="group">
  <button ng-class="buttonClass(flight, s)" lx-ripple class="btn btn--m btn--white btn--raised" ng-repeat="s in xmanDefaultSpeeds" ng-click="setSpeed(flight, s)">
    {{s}}
  </button><button 
  class="btn btn-default btn-sm" ng-class="mcsClass(flight)" ng-click="toggleMcs(flight)">
    MCS
  </button><button
  class="btn btn-default btn-sm" ng-class="(flight.speed === '0') ? 'btn--is-disabled' : ''" ng-click="undoSpeed(flight)" >
    <i class="text-danger glyphicon glyphicon-remove"></i>
  </button>
</div>
