<div layout="row" layout-padding class="xman-row-title">
  <div flex="20" class="callsign">Callsign</div>
  <div flex="10" class="delay">Delay</div>
  <div flex="45" class="speeds">Speed</div>
  <div flex="25" class="applied">Applied</div>
</div>
<md-divider></md-divider>
<div layout="column" class="xman-row" ng-class="getRowClass(flight)" ng-repeat-start="flight in x.xmanData track by flight.flightId">
  <div layout="row" layout-padding layout-align="start center">
    <div flex="20" layout="column" class="callsign">
      <span class="md-title">{{flight.callsign}}</span>
    </div>
    <div flex="10" class="delay"><xman-delay flight="flight" /></div>
    <div flex="45" class="speeds"><xman-speed flight="flight" /></div>
    <div flex="25" class="applied"><xman-applied-by flight="flight" /></div>
  </div>
  <md-progress-linear flex ng-if="!flight.applied.when" class="md-primary" md-mode="query"></md-progress-linear>
</div>
<md-divider ng-repeat-end></md-divider>

