<div class="speed-buttons btn-group" role="group">
  <button ng-class="buttonClass(flight, s)" lx-ripple  ng-disabled="{{(flight.speed === '0')}}" ng-repeat="s in xmanDefaultSpeeds" ng-click="setSpeed(flight, s)">
    {{s}}
  </button><button 
  ng-disabled="{{(flight.speed === '0')}}" lx-ripple ng-class="mcsClass(flight)" ng-click="toggleMcs(flight)">
    MCS
  </button><button
  class="undo" ng-disabled="{{(flight.speed === '0')}}" lx-ripple ng-click="undoSpeed(flight)" >
    <i class="mdi mdi-undo"></i>
  </button>
</div>
