<table st-table="x.xmanData" class="table">
  <thead>
  <tr>
    <th>Flight ID</th>
    <th>Callsign</th>
    <th>Delay</th>
    <th>Speed</th>
    <th>Applied</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-class="(flight.applied.speed === undefined) ? 'warning' : 'success'" ng-repeat="flight in x.xmanData track by flight.flightId">
    <td>{{flight.flightId}}</td>
    <td>{{flight.callsign}}</td>
    <td>{{flight.delay}}</td>
    <td>
      <xman-speed flight="flight" />
    </td>
    <td>
      <xman-applied-by flight="flight" />
    </td>
  </tr>
  </tbody>
</table>
