<md-content class="arcid-results">
  <md-list>
    <md-divider></md-divider>
    <md-list-item ng-if="!vm.loading" class="md-3-line arcid-list-item" ng-click="vm.selectFlight(f)" ng-repeat="f in vm.history | orderBy: '-when' ">
      <div class="md-list-item-text">
        <h3 class="arcid-search-callsign">{{f.callsign}}</h3>          
        <h4>{{f.departure}} - {{f.destination}}</h4>
        <p>{{f.who | sectorsToString}}</p>
        <p am-time-ago="f.when"></p>
      </div>
      <md-divider flex ng-repeat-end></md-divider>
    </md-list-item>
  </md-list>
</md-content>

