<md-content id="outer-wrapper"> 
  <md-content id="inner-wrapper">
    <md-subheader class="md-primary">
      <div layout="row" class="flight-panel-toolbar">
        <div layout="column" flex="60">
          <h3 class="callsign">{{flight.callsign}}</h3>
          <span class="dep-dest">{{flight.departure}} -&gt; {{flight.destination}}</span>
        </div>
        <div layout="row" flex layout-align="end center">
          <i md-themable class="mdi mdi-database"></i></span>
          <md-switch ng-model="showChart" aria-label="Show chart">
          </md-switch>
          <i class="mdi mdi-chart-line"></i>
        </div>
      </div>
    </md-subheader>
    <md-divider></md-divider>
    <md-content flex class="arcid-profile">
      <table flex class="table table-striped table-hover table-condensed">
        <tbody flex>
        <tr ng-repeat="pp in flight.pointProfile">
          <td>{{pp.when | amDateFormat:'HH:mm:ss'}}</td>
          <td>{{pp.name}}</td>
          <td>{{pp.level}}{{pp.trend}}</td>
        </tr>
        <tr ng-repeat="pp in flight.pointProfile">
          <td>{{pp.when | amDateFormat:'HH:mm:ss'}}</td>
          <td>{{pp.name}}</td>
          <td>{{pp.level}}{{pp.trend}}</td>
        </tr>
         <tr ng-repeat="pp in flight.pointProfile">
          <td>{{pp.when | amDateFormat:'HH:mm:ss'}}</td>
          <td>{{pp.name}}</td>
          <td>{{pp.level}}{{pp.trend}}</td>
        </tr>
        </tbody>
      </table>
    </md-content>
  </md-content>
</md-content>
