<md-card ng-init="showExtended = false" class="flight-panel">
  <md-toolbar ng-click="showExtended = !showExtended" class="md-accent">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between">
      <h3 class="callsign">{{f.callsign}}</h3>
      <p hide show-gt-md class="toolbar-meta">{{f.departure}} -&gt; {{f.destination}}</p>
      <i class="mdi" ng-class="(showExtended) ? 'mdi-minus' : 'mdi-plus'"></i>
    </div>
  </md-toolbar>
  <md-content ng-show="showExtended">
    <table class="table table-striped table-hover table-condensed">
    <tbody>
    <tr ng-repeat="pp in f.pointProfile">
      <td>{{pp.when | amDateFormat:'HH:mm:ss'}}</td>
      <td>{{pp.name}}</td>
      <td>{{pp.level}}{{pp.trend}}</td>
    </tr>
    </tbody>
    </table>
  </md-content>
</md-card>
