<div class="row">
  <div id="arcid-left-col" class="col-md-3 col-sm-4">
    <div class="form-group has-feedback">
      <input type="text" class="form-control" placeHolder="Callsign" />
      <i class="glyphicon glyphicon-search form-control-feedback"></i>
    </div>
    <div class="btn-group-vertical" style="width: 100%;" role="group">
      <button class="btn btn-sm btn-default" style="text-align: left;" ng-repeat="callsign in arcid.flightList">{{callsign}}</button>
    </div>
  </div>
  <div id="arcid-right-col" class="col-md-9 col-sm-8">
    <arcid-flight-panel />
  </div>
</div>
