<div class="arcid-search form-group">
  <div class="input-group">
    <input type="text" style="text-transform: uppercase;" class="form-control" placeHolder="Callsign" />
    <span class="input-group-btn">
      <button class="btn btn-default btn-primary" type="button"><i class="glyphicon glyphicon-search"></i></button>
      <button class="btn btn-default btn-danger" type="button"><i class="glyphicon glyphicon-remove"></i></button>
    </span>
  </div>
</div>
<div class="list-group arcid-results">
  <a class="list-group-item active" ng-repeat="f in arcid.flightList | limitTo:7">
    {{f.callsign}}
    <span class="pull-right list-group-item-text">{{f.departure}} -&gt; {{f.destination}}</span>
  </a>
</div>
