<md-content flex layout-fill layout="row">
  <md-content layout-fill flex="33" flex-gt-md="20" layout-padding ng-init="arcidSearch = ''">
    <md-autocomplete 
      md-selected-item="arcidSearchFlight"
      md-search-text="arcidSearch"
      md-items="f in arcid.flightList"
      placeholder="Callsign"
      md-menu-class="arcid-search-menu"
      md-selected-item-change="addDisplayedFlight(f)"
      md-item-text="f.callsign">
      <span md-highlight-text="arcidSearch" md-highlight-flags="gi">{{f.callsign}}</span>
    </md-autocomplete>
  </md-content>
  <md-content offset="5" flex layout-padding>
    <arcid-flight-panel ng-repeat="f in arcid.displayedFlights" />
  </md-content>
</md-content>
