<md-content flex layout="row">
  <md-content flex="40" flex-gt-md="20" class="md-whiteframe-z2" ng-init="arcidSearch = ''">
    <div layout-padding ng-init="arcidSearch = ''">
      <md-input-container>
        <label>Callsign</label>
        <input type="text" ng-model="arcidSearch">
<!--        <md-autocomplete
          md-selected-item="arcidSearchFlight"
          md-search-text="arcidSearch"
          md-items="f in arcid.flightList"
          md-floating-label="Callsign"
          md-menu-class="arcid-search-menu"
          md-selected-item-change="addDisplayedFlight(f)"
          md-item-text="f.callsign">
          <span md-highlight-text="arcidSearch" md-highlight-flags="gi">{{f.callsign}}</span>
        </md-autocomplete>
-->   
      </md-input-container>
    </div>
    <md-divider></md-divider>
    <md-content layout="column" layout-align="start center" flex class="md-scroll-y" class="arcid-history">
      <md-button ng-click="addDisplayedFlight(f)" ng-repeat="f in arcid.flightList | limitTo: 7">
        <span class="arcid-search-callsign">{{f.callsign}}</span><br />
        <span class="arcid-search-meta">{{f.departure}} - {{f.destination}}</span>
      </md-button>
    </md-content>
  </md-content>
  <md-content offset="5" flex layout-padding>
    <arcid-flight-panel ng-repeat="f in arcid.displayedFlights" />
  </md-content>
</md-content>
