<div class="container">
  <h1>Position</h1>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Choix position</button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="">Position</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="">CDS</a></li>
    </ul>
  </div>
  <br />
  <p><a class="btn btn-lg btn-success" ng-href="#/">Valider<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
