<div layout-padding flex>
  <md-content layout="row" flex>
    <span flex></span>
    <select ng-model="chartSector">
      <option value="URMN">URMN</option>
      <option value="4N">4N</option>
      <option value="5R">5R</option>
      <option value="KD2F">KD2F</option>
    </select>
  </md-content>
  <md-content layout-margin><traffic-load-chart sector="chartSector"></traffic-load-chart></md-content>
  <md-content layout-margin><traffic-distribution-chart sector="chartSector"></traffic-distribution-chart></md-content>
</div>
